
source/GooglePlayLicensing_gml/options/

# Ignore everything inside the Sdk folder
source/GooglePlayLicensing_gml/extensions/GooglePlayLicensingExtension/AndroidSource/Sdk/**

source/GooglePlayLicensing_sdk/

output/
