
source/GooglePlayLicensing_gml/options/android/*
source/GooglePlayLicensing_gml/options/extensions/

# Ignore everything inside the Sdk folder
source/GooglePlayLicensing_gml/extensions/GooglePlayLicensingExtension/AndroidSource/Sdk/**
